<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.context.kroket.escapeapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ActivityManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".mainscreens.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".minigames.A_Code_Cracker_Pictureview"
            android:label="@string/title_activity_game__a_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".minigames.A_CodeCrackerCodeview" />

        <service
            android:name=".network.ConnectionService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".minigames.B_TapGame" />
        <activity android:name=".mainscreens.WaitingActivity" />
        <activity android:name=".minigames.C_ColorSequence" />
        <activity android:name=".minigames.D_Gyroscope" />
        <activity android:name=".minigames.E_Squasher" />
        <activity android:name=".minigames.F_Lock" />
        <activity
            android:name=".mainscreens.RegisteredActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_registered"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>